{
  "presets": [ "es2015", "stage-0", "react" ],
  "env": {
    "production": {
      "plugins": [ "transform-decorators-legacy" ]
    },
    "development": {
      "plugins": [ "react-hot-loader/babel", "transform-decorators-legacy" ]
    }
  }
}
